{% extends "layout/base.html" %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/user.css'%}"> {% endblock%}
{% block title %} {{product.name}} {% endblock %}
{% block contents %}
<form method="POST">
    {% csrf_token %}
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea>

    <div class="input-container">
        <div class="btn" id="decrementBtn">&#9660;</div>
        <input type="number" name="quantity" id="numberInput" value="1" min="1" max="{{ product.quantity}}" readonly>
        <div class="btn" id="incrementBtn">&#9650;</div>
    </div>
    <input type="submit" value="Pinjam">
</form> 
{% endblock contents %}