{%extends 'layout/base.html'%} 
{% load static %}
{%block title%} Metland Inventory{%endblock %} 
{%block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" /> 
{% endblock %}
{%block navbar%} {%include 'components/indexnav.html'%} {%endblock navbar%}
{%block contents%}
<main>
  <div class="hero-section">
    <div class="image"></div>
    <div class="hero-text">
      <h1 style="font-size:50px">Metland Inventory</h1>
      <p>Tempat peminjaman barang-barang</p>
    </div>
  </div>
  <div class="about-section">
    <h3>Tentang Website</h3>
    <p>Website ini dibuat untuk meminjam barang-barang elektronik secara online, berbasis di Metland School</p>
  </div>
  <div class="contact-section">
    
  </div>
</main>
{%endblock contents%}
{% block footer%} {% include 'components/footer.html'%}{% endblock footer%}