{% extends "layout/base.html"%}
{% load static%}
{% block title %} Lending {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/user.css' %}" />  {% endblock %}
{% block navbar %} {% include "components/usernav.html"%} {% endblock navbar%}
{% block contents %}
<main>
  {% for lend in borrow%}
  {% if lend.client == user %}
    {% if lend.status == "Diproses"%}
    <div>
      <h3>{{ lend.item }}</h3>
      <p>Lend code: {{ lend.id }}</p>
      <p>Item code: {{ lend.item_code }}</p>
      <p>Quantity: {{ lend.lending_quantity}}</p>
      <p>Status: {{ lend.status }}</p>
    </div>
    {% elif lend.status == "Diterima" %}
    <div>
      <h3>{{ lend.item }}</h3>
      <p>Lend code: {{ lend.id }}</p>
      <p>Item code: {{ lend.item_code }}</p>
      <p>Quantity: {{ lend.lending_quantity}}</p>
      <p>Status: {{ lend.status }}</p>
      <form method="POST" action="{% url 'src:lending' %}">
        {% csrf_token %}
        <input class="manipulate" type="text" name="lend-code" value="{{ lend.id }}" readonly>
        <input class="manipulate" type="text" name="item-code" value="{{ lend.item_code }}" readonly>
        <input class="manipulate" type="text" value="{{ lend.lending_quantity }}" name="quantity" readonly >
        <input type="submit" value="kembalikan">
      </form>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</main>
{% endblock contents %}