{% extends "layout/base.html"%}
{% load static%}
{% block title %} Order {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/user.css' %}" />  {% endblock %}
{% block navbar %} {% include "components/usernav.html"%} {% endblock navbar%}
{% block contents %}
<main>
  <h1>Lending</h1>
  {% for lend in borrow%}
  {% if lend.client == user %}
    {% if lend.status == "Diproses"%}
    <div>
      <h3>{{ lend.item }}</h3>
      <p>{{ lend.lending_quantity}}</p>
      <p>{{ lend.status }}</p>
    </div>
    {% elif lend.status == "Diterima" %}
    <div>
      <h3>{{ lend.item }}</h3>
      <p>{{ lend.lending_quantity}}</p>
      <p>{{ lend.status }}</p>
      <form method="POST"> {% csrf_token %} <input type="submit" name="kembali" value="kembalikan"></form>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</main>
{% endblock contents %}