{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="{% static 'img/metland.png'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="Banner">
      <div class="container">
        <h1>
          Welcome Back
          <hr style="color: white" />
        </h1>
        <p>Web Inventory Metland School</p>
      </div>
    </header>

    <form method="POST" class="form">
      {% csrf_token %}
      <div class="Login">
        <h1>Login Account</h1>
      </div>

      <div class="row">
        <div class="container">
          <input type="text" name="user" placeholder="Username" /><br />
        </div>

        <div class="container2">
          <input
            type="password"
            name="pass"
            placeholder="Password"
            id="password"
          /><br />
        </div>

        <input
          type="checkbox"
          class="form-check-input"
          id="show-password"
          onclick="LoginPass()"
        />Show Password <br />

        <input type="button" class="masuk" value="Login" />
      </div>
    </form>

    <div class="singup-page">
      <p>No account?</p>
      <a href="/register"><b></b>Sign up now!</a>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
