{% extends "layout/base.html" %}
{% load static%}
{% block title %} Category {% endblock %}
{% block css%} <link rel="stylesheet" href="{% static 'css/user.css'%}"> {% endblock%}
{% block navbar %} {% include 'components/usernav.html' %} {% endblock navbar%}
{% block contents %}
<main> 
    <h1 style="text-align: center;">Barang yang tersedia</h1>
    <div class="product-row">
        {% for product in products %}
            <div class="product-column">
                <img src="{{ product.image.url }}" width="100px" height="100px">
                <h1 class="product-name">{{ product.name }} </h1>
                <p>Quantity: {{ product.quantity }} </p>
                <p>Condition: {{ product.condition}} </p>
                <p>Room: {{ product.room}} </p>
                <button class="order">Pinjam</buttom>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock contents %}