{% extends "layout/base.html" %}
{% load static %}
{% block title %} History {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/user.css' %}" /> {% endblock %}
{% block navbar %} {% include "components/usernav.html"%} {% endblock navbar%}
{% block contents %}
<main>
  <h1>Riwayat peminjaman</h1>
  <table>
    <tr>
      <th>Nama barang</th>
      <th>Kondisi</th>
      <th>Ruangan<th>
      <th>Jumlah pinjam</th>
      <th>Waktu peminjaman</th>
      <th>Waktu kembali</th>
      <th>Status</th>
    </tr>
    {% for lending in peminjaman%}
      <tr>
        <td>{{lending.item}}</td>
        <td>{{lending.condition}}</td>
        <td>{{lending.room}}</td>
        <td>{{lending.lending_quantity}}</td>
        <td>{{lending.date_lending}}</td>
        <td>{{lending.return_date}}</td>
        <td>{{lending.status}}</td>
      </tr>
    {%endfor%}
  </table>
</main>
{% endblock contents %}