{%extends "layout/base.html"%}{% load static %} {%block title %} Home {%endblock%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/user.css' %}" /> 
{%endblock%}
{%block navbar%} 
{%include "components/usernav.html" %}
{%endblock navbar%} 
{%block contents%} 
<main> 
    <h1>Barang yang tersedia</h1>
    <div class="home-product">
        {% for product in products %}
            <div class="home-row">
                <img src="{{ product.image.url }}" width="150px" height="150px">
                {{ product.name }}
                jumlah: {{ product.quantity }}
            </div>
        {% endfor %}
    </div>
</main>
{%endblock contents%}
