{% extends "layout/base.html" %}
{% block title %} {{ item.name }} - {{ item.room}}{% endblock %}
{% block contents%}
<img src="{{ item.image.url }}" alt="{{ item.name}}">
{{ item.name}}
{{ item.category}}
{{ item.condition}}
{{ item.quantity}}
<form method="POST">
    {% csrf_token %}
    <input class="manipulate" type="text" name="username" value="{{ user.get_username }}" readonly>
    <input class="manipulate" type="text" name="condition" value="{{ item.condition }}" readonly>
    <input class="manipulate" type="text" name="code" value="{{ item.id }}" readonly>
    <input class="manipulate" type="text" name="room" value="{{ item.room }}" readonly>
    <input type="number" name="quantity" id="quantity" value="1" min="1" max="{{ item.quantity}} "> 
    <input type="submit" value="Order">
</form>
{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}
{% endblock %}