{% load static%}
<div class="header">
  <img src="{% static 'img/metland.png'%}" alt="Logo" />
  <h1 class="header-title">Inventory Metland School</h1>
</div>

<div class="sidenav">
  <div class="profile">
    <a href="{% url 'src:profile' %}"
      ><i class="fa-regular fa-circle-user fa-2xl"></i
    ></a>
    <span class="ppp" style="font-size: 24px">{{user.get_username}}</span>
  </div>
  <a href="{% url 'src:home' %}"><i class="fa-solid fa-house"></i> <span class="ppp"> Home </span></a>
  <a href="#"><i class="fa-solid fa-shapes"></i> <span class="ppp">Category</span></a>
  <a href="#"><i class="fa-solid fa-list"></i> <span class="ppp">Order</span></a>
  <a href="#"><i class="fa-solid fa-clock-rotate-left"></i> <span class="ppp">History</span></a>
</div>
