* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Koh Santepheap";
}

.Banner {
  margin: 0;
  flex: 1 1 0;
  background: #004b81;
  min-height: 100vh;
}

.Banner h1 {
  padding-top: 40%;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Koh Santepheap;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Banner p {
  color: white;
  text-align: center;
  font-family: Koh Santepheap;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.title-form {
  color: #000;
  font-size: 45px;
  font-weight: 400;
}

form {
  margin: auto;
  text-align: center;
  flex: 1 1 0;
}

.textbox {
  width: 306px;
  height: 40px;
  border-radius: 11px;
  border: 1px solid #000;
  background: #d9d9d9;
}

input {
  margin-bottom: 15px;
}

.form-check-input {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  margin-top: 5px;
}

.masuk {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  height: 54px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #004b81;
  width: 306px;
}

.form-check-input:hover {
  cursor: pointer;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.callout.callout-danger {
  border-left-color: red;
}

.callout {
  color: black;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  background-color: #fff;
  border-left: 5px solid #e9ecef;
  margin-bottom: 1rem;
  padding: 1rem
}

@media screen and (max-width: 620px){
  .Banner{
    display: none;
  }
}