* {
  box-sizing: border-box;
  font-family: "Koh Santepheap";
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #004b81;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.hero-section {
  background-image: url("/static/img/metlen.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-text{
  font-weight: bold;
  position: absolute;
  color:#004b81;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.about-section {
  min-height: 100vh;
}