body {
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  position: sticky;
  background-color: #004b81;
  height: 80px;
  padding: 10px;
  display: flex;
}

.header img {
  max-width: 100px;
  height: auto;
  padding-left: 25px;
}

.header-title {
  color: white;
  font-family: "Koh Santepheap";
  margin-left: 20px;
  font-size: 30px;
}

.profile {
  align-items: center;
  text-align: center;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d9d9d9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #060606;
  display: block;
  font-family: "Koh Santepheap";
  transition: background-color 0.3s ease;
}

.sidenav a:hover {
  background-color: #004b81;
  color: white;
}

main {
  margin-left: 200px;
  padding: 1px 16px;
}

.prof-info {
  display: flex;
  flex-direction: column;
}

.product-column{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: 5px;
  float: left;
}

.order {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} 

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
  }
  .sidenav a {
    float: left;
    font-size: 24px;
  }
  .ppp{
    display: none;
  }

  main{
    margin-left: 0;
  }
}

@media screen and (max-width: 316px){
  .sidenav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 543px){
  .header{
    display: none;
  }
}