* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  position: sticky;
  background-color: #004b81;
  height: 80px;
  padding: 10px;
  display: flex;
}

.header img {
  max-width: 100px;
  height: auto;
  padding-left: 25px;
}

.header-title {
  color: white;
  font-family: "Koh Santepheap";
  margin-left: 20px;
  font-size: 30px;
}

.profile {
  align-items: center;
  text-align: center;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d9d9d9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #060606;
  display: block;
  font-family: "Koh Santepheap";
  transition: background-color 0.3s ease;
}

.sidenav a:hover {
  background-color: #004b81;
  color: white;
}

main {
  margin-left: 200px;
  padding: 1px 16px;
}

.prof-info {
  display: flex;
  flex-direction: column;
}

.product-column{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: 5px;
  float: left;
}

.order {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} 

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.manipulate {
  display: none;
}

.input-container {
  display: flex;
  align-items: center;
}
.input-container .btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  outline: none;
  user-select: none; /* Prevent text selection */
}

.input-container .btn:hover {
  background-color: #e0e0e0;
}

.input-container input[type="number"] {
  flex: 1;
  padding: 5px;
  text-align: center;
  /* Remove default spinner arrows */
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
  }
  .sidenav a {
    float: left;
    font-size: 24px;
  }
  .ppp{
    display: none;
  }

  main{
    margin-left: 0;
  }
}

@media screen and (max-width: 316px){
  .sidenav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 543px){
  .header{
    display: none;
  }
}