body {
  margin: 0;
  padding: 0;
}

.topnav {
  top: 0;
  position: sticky;
  background-color: #004b81;
  height: 80px;
  padding: 10px;
  display: flex;
}

.topnav img {
  max-width: 100px;
  height: auto;
  padding-left: 25px;
}

.topnav h1 {
  color: white;
  font-family: "Koh Santepheap";
  margin-left: 20px;
  font-size: 30px;
}

.profile {
  align-items: center;
  text-align: center;
}

.sidenav {
  min-height: 100vh;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 30;
  left: 0;
  background-color: #d9d9d9;
  overflow-x: hidden;
  padding-top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #060606;
  display: block;
  font-family: "Koh Santepheap";
  transition: background-color 0.3s ease;
}

.sidenav a:hover {
  background-color: #004b81;
  color: white;
}

main {
  margin-left: 180px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 100px;
}

.prof-info {
  display: flex;
  flex-direction: column;
}

.home-row{
  display: flex;
  border: #060606 ;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
