{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="{%static 'img/metland.png'%}"/>
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap" rel="stylesheet"/>
    <title>Inventory Metland school</title>
  </head>
  <body>
    <header class="Banner">
      <div class="container">
        <h1>
          Welcome 
          <hr style="color: white" />
        </h1>
        <p>Web Inventory Metland School</p>
      </div>
    </header>

    <form method="POST" class="form">
      <div class="Login">
        <h1>Sign Up</h1>
      </div>

      <div class="row">
        <div class="container">
          <input type="text" name="fullname" placeholder="Full Name" /><br>
          <input type="text" name="email" placeholder="Email" /><br>
        </div>
  
        <div class="container2">
          <input type="password" name="passwd" placeholder="Password" id="password"/><br>
          <input type="password" name="confirmPass" placeholder="Confirm Password" id="confirm_password"/><br>
        </div>
  
        <div class="button">
          <input
            type="checkbox"
            class="form-check-input"
            id="show-password"
            onclick="RegisterPass()"/>Show Password <br>
        </div>
        <input type="button" class="masuk" value="Get Started" />
      </div>
    </form>

    <div class="singup-page">
      <p>Already have a Account?</p>
      <a href="#"><b>Log in</b></a>
    </div>
    <script src="{%static 'js/main.js' %}"></script>
  </body>
</html>
