{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="assets/WhatsApp Image 2023-03-29 at 08.25.17.jpg"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap"
      rel="stylesheet"
    />
    <title>Inventory Metland school</title>
  </head>

  <script>
    var a;
    function pass()
    {
      if (a==1)
  {
  document.getElementById('password').type='password';
  document.getElementById('confirm_password').type='password';
  document.getElementById('show-password').type='checkbox';
  a=0;
}
else
{
  document.getElementById('password').type='text';
  document.getElementById('confirm_password').type='text';
  document.getElementById('show-password').type='checkbox';
  a=1;
}
}
  </script>
  <body>
    <section class="Banner">
      <div class="container">
        <h1>
          Welcome 
          <hr style="color: white" />
        </h1>
        <p>Web Inventory Metland School</p>
      </div>
    </section>

    <section class="form">
      <div class="Login">
        <h1>Sign Up</h1>
      </div>

      <div class="row">
        <label for="daftar">
          <div class="container">
            <input type="text" placeholder="Full Name" /><br />
            <input type="text" placeholder="Email" /><br />
        </div>
  
          <div class="container2">
              <input type="password" placeholder="Password" id="password"/><br />
              <input type="password" placeholder="Confirm Password" id="confirm_password"/><br />
        </div>
  
          
  
          <div class="button">
            <input
            type="checkbox"
            class="form-check-input"
            id="show-password"
            onclick="pass()"
          />Show Password <br />

        </div>
        <input type="button" class="masuk" value="Get Started" />
          

        </label>
      </section>
      </div>

      <div class="singup-page">
        
        <p>Already have a Account?</p>
        <a href="SignIn.Html"><b>Log in</b></a>
      </div>
      
  </body>
</html>
